body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.logo {
    width: 60px;
    display: block;
    margin: 20px;  
}


/* header */
.container {
    width: 80%;
    margin: 0 auto;
}

/* to make the height of the navigation not 0 */
header::after {
    content: ' ';
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding: 10px, 0;
}

nav {
    float: right;
}


nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 30px;
    padding-top: 40px;
    padding-bottom: 20px;  
}

nav a {
    color: #B5B5B5;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px; 
    font-weight: 400;
}

nav a:hover {
    color: #000;
}

nav a:active {
    color: #000;
}



/* blue block */
.blueblock {
    background-color: #21286A;
    padding: 55px 170px 50px;
}

.note {
    background-color: #FAF3FF;
    border: solid 4px #DFC7F1;
    border-radius: 15px;
    padding: 12px 23px;
    margin: 10px auto 60px;
}


.blueblock h1 {
    color: #fff;
    font-weight: 600;
    font-size: 35px;
}

.blueblock h2 {
    color: #fff;
    font-weight: 600;
    font-size: 22px;
}

.blueblock p {
    color: #E1CDF0;
    font-size: 18px;
}

.note p {
    color: #21286A;
}


/* instruction */
.instruction {
    padding: 20px 170px;
}

.instruction h1 {
    color: #000;
    font-weight: 800;
    font-size: 35px;
}

.instruction h2 {
    color: #000;
    font-weight: 700;
    font-size: 22px;
}

.instruction p {
    color: #515151;
    font-size: 18px;
}



/* example */
.example {
    padding: 40px 170px 0;
}

.example h2 {
    color: #000;
    font-weight: 700;
    font-size: 22px;
}

.example p {
    color: #515151;
    font-size: 18px;
}



/*multiple choice */
.exercise {
    padding: 10px 30px 0px;
    margin: 0 170px 10px;
    background-color: #F1F1F1;
    border-radius: 10px;
}

.exercise p {
    color: #515151;
    font-size: 18px;
    line-height: normal;
}

#sidenote {
    float: right;
    width: 30%;
    padding: 10px;
    background-color: #FDFFAE;
    border-radius: 10px;
    font-size: 15px;
    border: 4px solid;
    border-color: #FFD596;
    border-style: dotted;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}


#hintone {
    display: inline-block;
    width: auto;
    font-size: 15px;
    padding: 10px 15px;
    text-align: center;
    background-color: #C8F2FF;
    margin-top: 5px;
/*
    border: 2px solid;
    border-color: #FFD596;
*/
    border-radius: 7px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}


#button-one, #button-two, #button-three, #button-four, #button-five {
  background-color: #21286A;
  border: none;
  color: white;
  padding: 12px 25px;
  margin: 10px 0 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}



#input-a, #input-b, #input-c {
  width: 30%;
  padding: 10px 7px;
  margin: 0 0;
  display: inline-block;
  border: 1px solid #8E8E8E;
  border-radius: 4px;
  box-sizing: border-box;
}



#feedback-one, #feedback-two, #feedback-three, #feedback-four, #feedback-five {
  width: 100%;
  padding: 0 0;
  margin: 5px 0;
  display: inline-block;
/*  border: 1px solid;*/
/*  background-color: #BAF9AA;*/
  border-radius: 4px;
  box-sizing: border-box;
    line-height: normal;
}



.purple {
    background-color: #FAF3FF;
    border: solid 4px #DFC7F1;
    border-radius: 15px;
    padding: 8px 25px;
    margin: 30px 170px 20px;
    line-height: 2rem;  
}


#instruction-spec {
    display: flex;
    padding: 0px 170px;
}

#purple-left {
/*    float: left;*/
    flex: 1;
    background-color: #FAF3FF;
    border: solid 4px #DFC7F1;
    border-radius: 15px;
    padding: 8px 25px;
    margin: 0px 8px 0 0;
    line-height: 2rem; 
    font-size: 17px;
}



#purple-right {
/*    float: right;*/
    width: 550px;
    background-color: #F3EBF9;
    border: solid 4px #DFC7F1;
    border-radius: 15px;
    padding: 8px 25px;
    margin: 0px 0px 0 8px;
    line-height: 2rem;  
     font-size: 17px;
}


.ending {
/*    padding: 20px 170px;*/
    margin: 20px 170px 120px;
}


.previous {
  width: 33.33%;
  text-align: center;
  float: left;
}


.home {
  width: 33.33%;
  text-align: center;
  float: left;
}

.next {
  width: 33.33%;
  text-align: center;
  float: left;
}

