body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}


/* header */
.container {
    width: 80%;
    margin: 0 auto;
}

/* to make the height of the navigation not 0 */
header::after {
    content: ' ';
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding: 10px, 0;
}

nav {
    float: right;
}


nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 30px;
    padding-top: 40px;
    padding-bottom: 20px;  
}

nav a {
    color: #B5B5B5;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px; 
    font-weight: 400;
}

nav a:hover {
    color: #000;
}

nav a:active {
    color: #000;
}



/* blue block */
.blueblock {
    background-color: #21286A;
    padding: 10px 170px 20px;
}

.blueblock h1 {
    color: #fff;
    font-weight: 600;
    font-size: 35px;
}

.blueblock h2 {
    color: #fff;
    font-weight: 600;
    font-size: 22px;
}

.blueblock p {
    color: #E1CDF0;
    font-size: 18px;
}



/* instruction */
.instruction {
    padding: 20px 170px;
}

.instruction h1 {
    color: #000;
    font-weight: 800;
    font-size: 35px;
}

.instruction h2 {
    color: #000;
    font-weight: 700;
    font-size: 22px;
}

.instruction p {
    color: #515151;
    font-size: 18px;
}


/* image */
.image img {
    max-width: 60%;
    height: auto;
    /* make it center */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image p {
    font-size: 14px;
    text-align: center;
}


/* example */
.example {
    padding: 40px 170px 0;
}

.example h2 {
    color: #000;
    font-weight: 700;
    font-size: 22px;
}

.example p {
    color: #515151;
    font-size: 18px;
}



/*multiple choice */
.multiple-choice {
    padding: 10px 30px 10px;
    margin: 0 170px;
    background-color: #F1F1F1;
    border-radius: 10px;
}

.multiple-choice p {
    color: #515151;
    font-size: 18px;
    line-height: 0.7rem;
}

#hintone {
    display: inline-block;
    width: auto;
    font-size: 15px;
    padding: 7px 15px;
    text-align: center;
    background-color: #C8F2FF;
    margin-top: 5px;
    border-radius: 7px;
}


#button-one, #button-two, #reflection-button {
  background-color: #21286A;
  border: none;
  color: white;
  padding: 10px 25px;
  margin: 10px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}



#input-a {
  width: 30%;
  padding: 10px 7px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #8E8E8E;
  border-radius: 4px;
  box-sizing: border-box;
}



#feedback-one, #feedback-two {
  width: 50%;
  padding: 0 0;
  margin: 5px 0;
  display: inline-block;
/*  border: 1px solid;*/
/*  background-color: #BAF9AA;*/
  border-radius: 4px;
  box-sizing: border-box;
}


/* references */
.reference {
     padding: 20px 170px;
}

.reference hr {
    height: 1px;
    background-color: #CBCBCB;
    border: none;
}

#home-heading1{
    padding: 0px 0px;
    margin: 0px 0;
    font-size: 30px;
}
#home-heading2{
    padding: 0px 0px;
    margin: 0px 0;
    font-size: 35px;
}
#objectives-tag{
    color: black;
}
#two-simple-tag{
    color: black;
}

.objectives-top-box{
    margin:auto;
   
    width: 900px;
    height: 150px;
    text-align: center;
    align-items: center;
    background: rgba(225, 205, 240, 0.23);
    border: 6px solid #E1CDF0;
    box-sizing: border-box;
    border-radius: 18px;
}

.conclusion{
    margin:auto;
    width: 880px;
    height: 250px;
    text-align: center;
    align-items: center;
    background: rgba(225, 205, 240, 0.23);
    border: 6px solid #E1CDF0;
    box-sizing: border-box;
    border-radius: 18px;
}

#objectives-top-box-note{
    font-weight: bold;
    text-align: center;
}

li{
    margin: 10px 0;
  }

#two-simple-definition{
    font-weight: bold;
    font-size: large;
  }

#simple-interest-answer-box{
    width: 220px;
    height: 40px;
    text-align: center;
    background: rgba(225, 205, 240, 0.23);
    border: 6px solid #E1CDF0;
    box-sizing: border-box;
    border-radius: 4px;
}
#reflection-box{
    height:150px;
    width: 500px;
    border: 3px solid #E1CDF0;
    box-sizing: border-box;
    border-radius: 18px;
}

